---
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.svelte';
import Included from "../components/Included.svelte";
import Panel from "../components/Panel.svelte";
---

<Layout title="Lambda Digital">
	<main>
		<Hero/>
		<div>
			<Panel/>
			<Included/>
		</div>
	</main>
</Layout>

<style>
	div {
		height: 1000px;
	}

</style>
