---
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.svelte';
import Footer from '../components/Footer.svelte';
---

<Layout title="Lambda Digital">
	<main>
		<Hero/>
		<div></div>
	</main>
</Layout>

<style>
	div {
		height: 1000px;
	}

</style>
