---
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.svelte';
import Hero from '../components/Hero.svelte';
---

<Layout title="Lambda Digital">
	<main>
		<Navbar/>
		<Hero/>
	</main>
</Layout>

<style>
	

</style>
