---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.svelte';
import Included from "../components/Included.svelte";
import Panel from "../components/Panel.svelte";
---

<Layout title="Lambda Digital">
	<Hero/>
	<main>
		<div id="content">
			<Panel/>
			<Included/>
		</div>
	</main>
</Layout>

<style>
	#content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 50px;
		padding: 32px 48px 48px 48px;
		margin-bottom: 48px;
		align-self: center;
	}

</style>
