---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.svelte";
import Included from "../components/Included.svelte";
import Panel from "../components/Panel.svelte";
import Temp from "../components/Temp.svelte";
---

<Layout title="Lambda Digital">
  <!-- <Hero/> -->
  <main>
    <!-- <Panel/>
		<Included/> -->
    <!-- <Temp /> -->
  </main>
</Layout>

<style></style>
