---
import Layout from '../layouts/Layout.astro';
import Loading from '../components/Loading.svelte';
import Navbar from '../components/Navbar.svelte';
---

<Layout title="Lambda Digital">
	<main>
		<Navbar/>
	</main>
</Layout>

<style>
</style>
