---
import Layout from "../layouts/Layout.astro";
import Panel from "../components/Panel.svelte";
---

<Layout title="Lambda Digital">
  <main>
    <Panel/>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
  }
</style>
